# script for stm32u3x family

#
# stm32u3 devices support both JTAG and SWD transports.
#

source [find target/swj-dp.tcl]
source [find mem_helper.tcl]
source [find gdb_helper.tcl]

if { [info exists CHIPNAME] } {
	set _CHIPNAME $CHIPNAME
} else {
	set _CHIPNAME stm32u3
}

source [find target/stm32x5x_common.cfg]

proc clock_config {} {
	# Enable voltage range 1 to be able to erase and program the flash
	set offset [expr {[is_secure] ? 0x10000000 : 0}]

	# RCC_AHB1ENR2 = PWREN
	mww [expr {0x40030C94 + $offset}] 0x00000004
	# delay for register clock enable (read back reg)
	mrw [expr {0x40030C94 + $offset}]
	# PWR_VOSR : VOS Range 1 (R1EN)
	mww [expr {0x4003080C + $offset}] 0x00000001
	# while !(PWR_VOSR & R1RDY)
	while {!([mrw [expr {0x4003080C + $offset}]] & 0x00010000)} {}
	# Reset RCC_AHB1ENR2
	mww [expr {0x40030C94 + $offset}] 0
}
